<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="org.bittweet.android" >

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

<application
    android:name="org.bittweet.android.ApplicationController"
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/Theme.BitTweet"
    android:hardwareAccelerated="true"
    android:configChanges="orientation|keyboardHidden|keyboard|screenSize">
    <activity
        android:name="org.bittweet.android.ui.TweetsListActivity"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name="org.bittweet.android.ui.TweetsDetailActivity"
        android:label="@string/title_tweets_detail"
        android:parentActivityName="org.bittweet.android.ui.TweetsListActivity" >
    </activity>
    <activity
        android:name="org.bittweet.android.ui.TwitterLoginActivity"
        android:theme="@style/Theme.BitTweetLogin"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize" >
    </activity>
    <activity
        android:name="org.bittweet.android.ui.NewTweetActivity"
        android:label="@string/title_activity_new_tweet"
        android:parentActivityName="org.bittweet.android.ui.TweetsListActivity"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
        android:windowSoftInputMode="stateAlwaysVisible|adjustResize" >
    </activity>
    <activity android:name=".ui.SettingsActivity" android:label="Settings"
        android:screenOrientation="nosensor">
        <intent-filter>
            <action android:name=".ui.SettingsActivity" />
            <category android:name="android.intent.category.PREFERENCE" />
        </intent-filter>
    </activity>
    <activity android:name=".ui.WebViewActivity"
        android:launchMode="singleTop"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
        android:parentActivityName="org.bittweet.android.ui.TweetsListActivity" >
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <data
                android:host="www.chromatiqa.org"
                android:scheme="http"
                android:pathPrefix="/bittweet/"/>

        </intent-filter>
    </activity>
    <activity android:name=".ui.ProfileActivity"
        android:label="@string/title_activity_profile"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
        android:parentActivityName="org.bittweet.android.ui.TweetsListActivity" >
    </activity>

    <meta-data
        android:name="com.crashlytics.ApiKey"
        android:value="2ddc1636bd01706058f9c8213c58250afe71f717" />

    <service
        android:name="org.bittweet.android.services.TweetService"
        android:enabled="true"
        android:exported="false" >
    </service>
</application>

</manifest>
